input[type="text"]
{
    /* .customer .form-control */
    padding: 10px 12px !important;
    margin-bottom: 10px;
    font-size: 12px !important;
    /* height: 0px !important;
    
    /* .form-control */
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



input[type="submit"]
{
    /* .customer .rbDecorated */
    max-width: auto;
    
    color: #fff;
    background: #45a2e3;
    background: -moz-linear-gradient(top, #45a2e3 0%, #3d83c5 100%);
    background: -webkit-linear-gradient(top, #45a2e3 0%,#3d83c5 100%);
    background: linear-gradient(to bottom, #45a2e3 0%,#3d83c5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45a2e3', endColorstr='#3d83c5',GradientType=0 );
    border-color: #389de2;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    font-size: 12px;
    
    /* .btn (little tweakings) */
    font-weight: 600;
    padding: 0.1rem 1.5rem;
    
    /* custom styling */
    width: auto;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
}

input[type="file"]
{
    /* .customer .rbDecorated */
    max-width: auto;
    
    color: #fff;
    background: #45a2e3;
    background: -moz-linear-gradient(top, #45a2e3 0%, #3d83c5 100%);
    background: -webkit-linear-gradient(top, #45a2e3 0%,#3d83c5 100%);
    background: linear-gradient(to bottom, #45a2e3 0%,#3d83c5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45a2e3', endColorstr='#3d83c5',GradientType=0 );
    border-color: #389de2;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    font-size: 12px;
    
    /* .btn (little tweakings) */
    font-weight: 600;
    padding: 0.1rem 1.5rem;
    
    /* custom styling */
    width: auto;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
}

select 
{
    /* .customer .form-control */
    padding: 10px 12px !important;
    margin-bottom: 10px;
    font-size: 12px !important;
    /*height: 50px !important;
    
    /* .form-control */
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.rgHeader
{
    height: 34px !important;    
}

.rgHeader a {
    color: blue !important;
    text-decoration: none;
}

.rgHeader a:hover, .rgHeader a:focus {
    color: black !important;
    text-decoration: underline;
}

label 
{
    font-weight: normal !important;
}

.rgDataDiv
{
   border: 1px solid #ddd !important; 
}

.rgHeaderDiv
{
    padding-right: 0px !important;
    overflow: hidden;
}

.rgRow td
{
    border: 1px solid #ddd !important; 
    padding: 5px !important;
}

.border-box
{
    border: 1px solid lightgrey;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px !important;
    border-radius: 5px;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.right-border
{
    border-right: 0.5px solid lightgrey;
    padding-right: 30px !important;
    padding-top: 10px;
    line-height: 10px !important;
}

.normal-top_padding
{
    padding-top: 10px;
}

.bottom-border
{
    border-bottom: 0.5px solid lightgrey;
}

.customer-table
{
    margin-top: 0px !important;
    margin-right: 80px !important;
}

.customer-buttons
{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-right: 80px !important;
}

.customer textarea.form-control
{
    height: 70px !important;
}

.navbar-fixed-left::-webkit-scrollbar 
{
  display: none;
}

.navbar-dark::-webkit-scrollbar 
{
  display: none;
}

#userImage
{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: white;
    cursor: default;
    background-color: #45a2e3;
    border: 1px solid #45a2e3;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 1px 1px 0 0;
}